@import "libs/button";
@import "libs/header";
@import "libs/footer";
@import "libs/fonts";
@import "libs/fontello";
@import 'libs/normalize';

// /* width */
// ::-webkit-scrollbar {
//     width: 6px;
//     background: #251930;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #251930;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     border-radius: 20px;
//     transition: all 0.5s;
//     background: radial-gradient(104.43% 104.43% at 50% 49.37%,#ca58ff 0%,rgba(202,88,255,0) 100%);
//     border: 1px solid #251930;
// }

body {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Avenir Next Regular';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

i{
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

input{
    -webkit-appearance: none;   
    appearance: none;   
}

a {
    cursor: pointer;
}

.wrapper{
    overflow: hidden;
}

.container {
    z-index: 4;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    @media (min-width: 768px) {
        
    }
    @media (min-width: 1024px) {
        padding: 0 60px;
    }
    @media (min-width: 1320px) {
        padding: 0 100px;
    }
    @media (min-width: 1680px) {
        padding: 0 120px;
    }
}

.bread_crumbs {
    padding: 138px 0 20px;
    ul{
        display: flex;
        align-items: center;
        li{
            position: relative;
            margin-right: 10px;
            padding-right: 21px;
            &:last-child{
                &::after{
                    display: none;
                    margin-right: 0;
                    padding-right: 0;
                }    
            }
            &::after{
                content: '';
                top: 50%;
                right: 0;
                width: 6px;
                height: 9px;
                position: absolute;
                background: url('../img/bread_crumbs_after.svg') no-repeat 50% 50%;
                background-size: cover;
                transform: translate(0, -50%);
            }
            span{
                opacity: 0.5;
                font-size: 14px;
                font-weight: 400;
                color: #5A6374;
                line-height: 19px;
                display: inline-block;
            }
            a{
                font-size: 14px;
                color: #5A6374;
                font-weight: 400;
                line-height: 19px;
                display: inline-block;
            }
        }
    }
    @media (min-width: 768px) {
        padding: 117px 0 20px;
    }
    @media (min-width: 1024px) {
        
    }
    @media (min-width: 1320px) {
        padding: 178px 0 20px;
    }
    @media (min-width: 1680px) {
        ul{
            padding: 0 120px;
        }   
    }
}