<footer class="footer">
    <div class="container">
        <div class="footer_content">
            <div class="footer_about">
                <div class="about_bg">
                    <h2>Наша компания</h2>
                    <p>Занимается розничными и оптовыми поставками твердого топлива с 2014 года,производством пеллеты из шелухи 
                        подсолнечника с 2020 года.</p>
                    <p>Счет высокого качества товаров и гибкой системы скидок зарекомендовала себя как надежный и перспективный 
                        партнер в области теплоснабжения.</p>
                    <a href="javascript:void(0)">Связаться с нами</a>
                </div>
            </div>
            <div class="footer_menu">
                <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
                <a href="tel:0 (800) 75-56-20" class="tel"><img src="img/tel.svg"alt=""> 0 (800) 75-56-20</a>
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="products.html">Товары</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="wholesale.html">Оптовым покупателям</a></li>
                    <li><a href="reviews.html">Отзывы</a></li>
                    <li><a href="reports.html">Протоколы испытаний</a></li>
                    <li><a href="shipping_payment.html">Доставки товара и оплата</a></li>
                    <li><a href="privacy-policy.html">Политика конфидециальности</a></li>
                    <li><a href="javascript:void(0)">Новости</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
                <p>2022 © Все материалы данного сайта являются объектами авторского права.</p>
            </div>
        </div>
    </div>
</footer>