<header class="header">
    <div class="container">
        <div class="header_content">
            <div class="menu">
                <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
                <div class="cities">
                    <img src="img/map-pin.svg" alt="" class="map-pin">
                    <h4>Город: <span>Харьков</span></h4>
                    <ul>
                        <li><a href="javascript:void(0)">Киев</a></li>
                        <li class="active"><a href="javascript:void(0)">Харьков</a></li>
                        <li><a href="javascript:void(0)">Запорожье</a></li>
                        <li><a href="javascript:void(0)">Львов</a></li>
                        <li><a href="javascript:void(0)">Чернигов</a></li>
                        <li><a href="javascript:void(0)">Сумы</a></li>
                    </ul>
                </div>
                <nav>
                    <ul>
                        <li class="active"><a href="index.html">Главная</a></li>
                        <li><a href="products.html">Товары</a></li>
                        <li><a href="about.html">О нас</a></li>
                        <li><a href="wholesale.html">Оптовым покупателям</a></li>
                        <li><a href="javascript:void(0)">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="tel_languages">
                <a href="tel:0 (800) 75-56-20" class="tel"><img src="img/tel.svg" alt="">0 (800) 75-56-20</a>
                <ul class="languages">
                    <li><span>Ru</span>
                        <ul>
                            <li>En</li>
                            <li>Ru</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>