<section class="messengers">
    <div class="container">
      <div class="messengers_container">
        <p>Связаться с нами:</p>
        <ul class="social">
          <li><a href="javascript:void(0)"><img src="img/telegram.svg" alt=""></a></li>
          <li><a href="javascript:void(0)"><img src="img/facebook.svg" alt=""></a></li>
          <li><a href="javascript:void(0)"><img src="img/instagram.svg" alt=""></a></li>
        </ul>
        <a class="mail" href="mail:Sale.bioopt@gmail.com ">Sale.bioopt@gmail.com </a>
      </div>
    </div>
</section>